// Text utils
.u--uppercase {
  text-transform: uppercase;
}

.u--capitalize {
  text-transform: capitalize;
}

.u--align-left {
  text-align: left;
}

.u--align-right {
  text-align: right;
}

.u--align-center {
  text-align: center;
}

.u--cursor {
  cursor: pointer;
}


// Vertical align
.u--middle-align {
  vertical-align: middle;
}

.u--super-align {
  vertical-align: super;
}

.u--bottom-align {
  vertical-align: bottom;
}

.u--sub-align {
  vertical-align: sub;
}

.u--top-align {
  vertical-align: top;
}

.u--text-top-align {
  vertical-align: text-top;
}

.u--text-bottom-align {
  vertical-align: text-bottom;
}

